<%= render 'layouts/navbar' %>
<h5 class="text-center" style="padding-top: 20px;font-weight: 200;color: #fff;">お問い合わせ</h5>
<div class="col-sm-8 offset-sm-2 card-about" style="margin-bottom: 20px;">
	<div class="card-body">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeWFo0g1ajsLOTuzKi6b56AW6KM-10_hA0cprUot5j6QG0-Zw/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
	</div>
</div>
<div class="text-center">
	<a href="/" class="square_btn">トップページに戻る</a>
</div>
<%= render 'layouts/footer' %>