<footer class="text-center">
  <div class="container-fluid">
	<ul class="col-md-6 offset-md-3">
      <li class="footer_links"><%= link_to "このサイトについて", about_path, class:"footer_links" %></li>
      <li class="footer_links">|</li>
      <li class="footer_links footer_twitter"><a href="https://twitter.com/mcpe_Reproduce" class="footer_links">開発者Twitter</a></li>
    </ul>
    <p class="copyright">&copy;Degret 2018 All Rights Reserved.</p>
  </div>
</footer>